.mui-form{
    background-color: rgb(167, 253, 224);
    padding: 30px;
}
.heading{
    color: blue;
}
.text-please Button{
    font-weight: 600;
}

.google-btn Button{
    background-color: tomato;
    font-weight: 700;
}
