.card{
    border: 1px solid blue;
    margin: 10px;
    height: 280px;
    text-align: center;
    border-radius: 10px;
}

.card img{
    padding: 5px;
    border-radius: 10px;
}


.card Button{
    background-color:rgb(250, 60, 26);
    color:white;
    font-weight: 700;
    font-size: 10px;
    width: 90%;

}