.banner-img{
    width: 100%;
    height: 500px;
}

.banner-img img{
    width: 100%;
    height: 480px;
}
.banner-img Button{
    margin-left: 2%;
    color: palegreen;
    background-color: tomato;
    width: 100px;
}

.side-name{
    margin-top: -30%;
    margin-left: 6%;
    color: palegreen;
    width: 50%;
}